.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f8f8f8;
    /* gap: 50px; */
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1425px;
    font-size: 20px;

    /* Box styles */
    border: #ccc;
    padding: 20px 40px;
    background-color: #1a44af;
    border-radius: 10px;
    box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.1);
}

.navbar3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(170, 170, 5, 0.96);
    height: 150px;
    padding: 20px 40px;
}

.left-nav, .right-nav {
    display: flex;
    gap: 40px; 
    color: #ccc;
}

.navbar2 a {
    color: hsl(210, 14%, 92%); 
    text-decoration: none; 
    font-weight: 500;      
}

.navbar2 a:hover {
    color: #007BFF; 
}


.navbar-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.navbar4 {
    display: flex;
    background-color: rgb(48, 44, 44);
    width: 100%;
    height: 500px;
    color: #f8f8f8;
    padding: 50px;
    gap: 160px;
}
.search {
    width: 600px;
    height: 30px;
    border-radius: 50px;
    padding: 5px 10px;

}

body,html{
    overflow-x: hidden;
}

.h1 {
    font-size: 15px;
}

.h2 {
    font-size: 20px;
    color: rgb(124, 120, 120);
}
.h3{
    font-size: 25px;
}
.h4{
   font-size: 20px; 
}
.h5{
     font-size: 20px;
    color: rgb(19, 7, 161);
}
.h6{
    font-size: 20px;
    color: black;
    text-align: center;
}
.h7{
    font-size: 18px;
    text-align: center;
}
.h8{
    font-size: 15px;
    text-align: center;
    color: rgb(147, 151, 155);
}
.h9{
    font-size: 40px;
}
.h10{
    font-size: 20px;
    gap: 20px;
    color: black;
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.img1{
    width: 40px;
    height: 40px;
}
.img2{
    width: 20px;
    height: 20px;
}
.img3{
    width: 200px;
    height: 230px;
}
.img4{
    width: 15px;
    margin: 5px 5px;
}
.img5{
    width: 5px;
    height: fit-content;
}
.img6{
    width: 400px;
    height: 400px;
}
.button1 {
    width: 150px;
    height: 40px;
    background-color: rgb(14, 14, 12);
    color: white;
}
.main{
    display: flex;
    padding: 50px 50px;
    gap: 30px;
    /* justify-content: ; */
}

.Product{
    padding: 10px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.Product article{
    width: 200px;
    height: 300px;
    background-color: rgb(237, 239, 242);
    margin: 20px;
    border-radius: 7px;
    padding: 20px;
    margin: 4px;
    box-shadow: 0px 0px 10px 10px rgb(224, 235, 242);
    justify-content: space-evenly;
}